<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mis.mapper.JobgroupMapper">
<!-- 시퀀스 이름 대소문자 구분 안하면  유니크 ? 오류 남  -->
	<insert id = "create">
	insert into tbl_jobgroup values(JG_SEQ.NEXTVAL, #{jgName})
	</insert>
	
	<select id="read" resultType="com.mis.domain.JobgroupVO">
	select * from tbl_jobgroup where jg_no = #{jgNo}
	</select>
	
	<update id="update">
	update tbl_jobgroup set jg_name= #{jgName}
	where jg_no = #{jgNo}
	</update>
	
	
<!--이거 조인 해야 하는겅가용? 몰ㄹ무 무ㅜㅜㅜ  -->
	<select id="listAll" resultType="com.mis.domain.JobgroupVO">
		select * from tbl_jobgroup
	</select>
	
	
</mapper>