<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mis.mapper.ScategoryMapper">

	<insert id="create">
		INSERT INTO TBL_SCATEGORY (S_NO, S_NAME, S_YEAR,
		S_QUARTER, S_MONTH, S_DAY, L_NO)
		VALUES (S_SEQ.NEXTVAL, #{sName},
		#{sYear}, #{sQuarter}, #{sMonth}, #{sDay}, #{lNo})
	</insert>

	<select id="read" resultType="com.mis.domain.ScategoryVO">
		<!-- SELECT S.S_NO, S.S_NAME, S.S_YEAR, S.S_QUARTER, S.S_MONTH, S.S_DAY 
			FROM TBL_SCATEGORY S LEFT OUTER JOIN TBL_LCATEGORY L ON S.L_NO = L.L_NO LEFT 
			OUTER JOIN TBL_JOBGROUP JG ON JG.JG_NO = J.JG_NO LEFT OUTER JOIN TBL_JOB 
			J ON J.JOB_NO = L.JOB_NO ORDER BY S_NO DESC -->
		<!-- FROM TBL_SCATEGORY S, TBL_LCATEGORY L WHERE S.L_NO = L.L_NO AND  -->
			
		SELECT S.S_NO, S.S_NAME, S.S_YEAR, S.S_QUARTER, S.S_MONTH, S.S_DAY,
				 L.L_NAME,J.JOB_NAME, G.JG_NAME, L.L_NO, J.JOB_NO, G.JG_NO
		FROM TBL_SCATEGORY S, TBL_LCATEGORY L, TBL_JOB J, TBL_JOBGROUP G 
		WHERE ( S.L_NO = L.L_NO AND L.JOB_NO = J.JOB_NO AND J.JG_NO = G.JG_NO	AND S_NO 
		= #{sNo} ) OR (S_NO = 999)			
		
	</select>

	<update id="update">
		UPDATE TBL_SCATEGORY SET
		S_NAME = #{sName},
		S_YEAR =
		#{sYear},
		S_QUARTER = #{sQuarter},
		S_MONTH = #{sMonth},
		S_DAY = #{sDay},
		L_NO
		= #{lNo}
		WHERE S_NO = #{sNo}
	</update>

	 <select id="list" resultType="com.mis.domain.ScategoryVO">
	 	SELECT S.S_NO, S.S_NAME, L.L_NAME, J.JOB_NAME, G.JG_NAME
		FROM TBL_SCATEGORY S, TBL_LCATEGORY L, TBL_JOB J, TBL_JOBGROUP G 
		WHERE S.L_NO = L.L_NO AND L.JOB_NO = J.JOB_NO AND J.JG_NO = G.JG_NO	
	</select> 

	<delete id="delete">
		DELETE FROM TBL_SCATEGORY
		WHERE S_NO = #{sNo}
	</delete>

	<select id="selectJobGroup"
		resultType="com.mis.domain.JobgroupVO">
		SELECT JG_NO, JG_NAME FROM TBL_JOBGROUP
	</select>

	<select id="selectJob" resultType="com.mis.domain.JobVO">
		SELECT JOB_NO, JOB_NAME, JG_NO
		FROM TBL_JOB WHERE JG_NO = #{jgNo}
	</select>

	<select id="selectLcategory"
		resultType="com.mis.domain.LcategoryVO">
	select a.l_no, a.l_name, b.job_name, b.jg_name from TBL_LCATEGORY a inner join (select job_name, jg_name, a.job_no from tbl_job a inner join tbl_jobgroup b on a.JG_NO = b.jg_no) b
	on a.JOB_NO = b.job_no AND a.JOB_NO = #{jobNo}
		
	</select>

	





</mapper>